Repository prgrms-be-devcourse/NBE4-5-3-Team10, pull requests merged in 2025-04, with the labels that each got.

#7 feat(2): Member 테스트 코드 작성
  backend/build.gradle.kts
  backend/src/test/java/com/tripfriend/domain/member/member/service/MemberServiceTest.java
  backend/src/test/java/com/tripfriend/domain/member/member/service/MemberServiceTest.kt
Labels: 🔥backend, ✨ feat

#10 feat(3): 동행 모집 서비스 자바 테스트코드 - 모두 통과, 코드 검토 못함
  backend/build.gradle.kts
  backend/src/test/java/com/tripfriend/domain/recruit/recruit/service/RecruitServiceTest.java
Labels: 🚨testcode

#13 feat(4): 리뷰 테스트코드 작성
  backend/src/test/java/com/tripfriend/domain/review/service/ReviewServiceTest.kt
Labels: 🚨testcode

#16 refactor(8): AuthService 리팩토링 및 테스트 코드 작성
  backend/build.gradle.kts
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/AuthResponseDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/LoginRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.java
  backend/src/test/java/com/tripfriend/domain/member/member/service/AuthServiceTest.kt
Labels: 🔥backend, ♻️ refactor, 🚨testcode

#15 test(6): AnswerService 테스트 작성
  backend/src/test/java/com/tripfriend/domain/qna/service/AnswerServiceTest.java
Labels: 🔥backend, 🚨testcode

#19 refactor(18): Member Entity 마이그레이션
  backend/src/main/java/com/tripfriend/domain/member/member/dto/JoinRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/AgeRange.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/AgeRange.kt
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Gender.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Gender.kt
  backend/src/main/java/com/tripfriend/domain/member/member/entity/Member.kt
  backend/src/main/java/com/tripfriend/domain/member/member/entity/TravelStyle.java
  backend/src/main/java/com/tripfriend/domain/member/member/entity/TravelStyle.kt
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/tripfriend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  backend/src/main/java/com/tripfriend/global/security/CustomOauth2UserService.java
  backend/src/main/java/com/tripfriend/global/security/CustomUserDetailsService.java
  backend/src/main/java/com/tripfriend/global/security/EmailVerifiedFilter.java
  backend/src/main/java/com/tripfriend/global/security/PrincipalDetails.java
  backend/src/test/java/com/tripfriend/domain/member/member/service/AuthServiceTest.kt
  backend/src/test/java/com/tripfriend/domain/member/member/service/MemberServiceTest.kt
Labels: 🔥backend, ♻️ refactor

#28 refactor(17) event 마이그레이션
  backend/src/main/java/com/tripfriend/domain/event/controller/EventController.java
  backend/src/main/java/com/tripfriend/domain/event/controller/EventController.kt
  backend/src/main/java/com/tripfriend/domain/event/dto/EventRequest.java
  backend/src/main/java/com/tripfriend/domain/event/dto/EventRequest.kt
  backend/src/main/java/com/tripfriend/domain/event/dto/EventResponse.java
  backend/src/main/java/com/tripfriend/domain/event/dto/EventResponse.kt
  backend/src/main/java/com/tripfriend/domain/event/entity/Event.java
  backend/src/main/java/com/tripfriend/domain/event/entity/Event.kt
  backend/src/main/java/com/tripfriend/domain/event/repository/EventRepository.java
  backend/src/main/java/com/tripfriend/domain/event/repository/EventRepository.kt
  backend/src/main/java/com/tripfriend/domain/event/service/EventService.java
  backend/src/main/java/com/tripfriend/domain/event/service/EventService.kt
  backend/src/test/java/com/tripfriend/domain/event/EventTest.kt
  backend/src/test/java/com/tripfriend/domain/event/service/EventServiceTest.kt
Labels: 🔥backend, ♻️ refactor

#29 refactor(27) : TripSchedule, TripInformation Entity 마이그레이션
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Place.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationUpdateReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationUpdateReqDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/Transportation.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/Transportation.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformation.java
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformation.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/service/TripInformationService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleUpdateReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleUpdateReqDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/entity/TripSchedule.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/entity/TripSchedule.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/TripScheduleService.java
  backend/src/main/java/com/tripfriend/global/aspect/ResponseAspect.kt
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.java
  backend/src/test/java/com/tripfriend/domain/trip/schedule/service/TripScheduleServiceTest.java
  backend/src/test/java/com/tripfriend/domain/trip/schedule/service/TripScheduleServiceTest.kt
Labels: 🔥backend, 🔧 chore, ♻️ refactor

#32 refactor(24): oauth2 관련 설정 마이그레이션
  backend/build.gradle.kts
  backend/src/main/java/com/tripfriend/global/oauth/GoogleUserInfo.java
  backend/src/main/java/com/tripfriend/global/oauth/GoogleUserInfo.kt
  backend/src/main/java/com/tripfriend/global/oauth/KakaoUserInfo.java
  backend/src/main/java/com/tripfriend/global/oauth/KakaoUserInfo.kt
  backend/src/main/java/com/tripfriend/global/oauth/NaverUserInfo.java
  backend/src/main/java/com/tripfriend/global/oauth/NaverUserInfo.kt
  backend/src/main/java/com/tripfriend/global/oauth/OAuth2UserInfo.java
  backend/src/main/java/com/tripfriend/global/oauth/OAuth2UserInfo.kt
  backend/src/main/java/com/tripfriend/global/security/CustomOauth2UserService.java
  backend/src/main/java/com/tripfriend/global/security/CustomOauth2UserService.kt
  backend/src/main/java/com/tripfriend/global/security/CustomUserDetailsService.java
  backend/src/main/java/com/tripfriend/global/security/CustomUserDetailsService.kt
  backend/src/main/java/com/tripfriend/global/security/PrincipalDetails.java
  backend/src/main/java/com/tripfriend/global/security/PrincipalDetails.kt
Labels: 🔥backend, 🐛 bug, ♻️ refactor

#35 refactor(14): Review entity 코틀린 마이그레이션
  backend/src/main/java/com/tripfriend/domain/review/entity/Comment.java
  backend/src/main/java/com/tripfriend/domain/review/entity/Comment.kt
  backend/src/main/java/com/tripfriend/domain/review/entity/Review.java
  backend/src/main/java/com/tripfriend/domain/review/entity/Review.kt
  backend/src/main/java/com/tripfriend/domain/review/entity/ReviewViewCount.java
  backend/src/main/java/com/tripfriend/domain/review/entity/ReviewViewCount.kt
  backend/src/test/java/com/tripfriend/domain/review/service/ReviewServiceTest.kt
Labels: ♻️ refactor

#41 refactor(33): security, jwt 마이그레이션
  backend/src/main/java/com/tripfriend/domain/review/entity/Comment.kt
  backend/src/main/java/com/tripfriend/domain/review/entity/Review.kt
  backend/src/main/java/com/tripfriend/domain/review/entity/ReviewViewCount.kt
  backend/src/main/java/com/tripfriend/global/filter/DeletedMemberFilter.java
  backend/src/main/java/com/tripfriend/global/filter/DeletedMemberFilter.kt
  backend/src/main/java/com/tripfriend/global/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/tripfriend/global/filter/JwtAuthenticationFilter.kt
  backend/src/main/java/com/tripfriend/global/handler/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/tripfriend/global/handler/OAuth2AuthenticationSuccessHandler.kt
  backend/src/main/java/com/tripfriend/global/security/EmailVerifiedFilter.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.java
  backend/src/main/java/com/tripfriend/global/security/SecurityConfig.kt
  backend/src/main/java/com/tripfriend/global/util/JwtUtil.java
  backend/src/main/java/com/tripfriend/global/util/JwtUtil.kt
  backend/src/test/java/com/tripfriend/domain/member/member/service/AuthServiceTest.kt
Labels: 🔥backend, ♻️ refactor

#43 refactor(40): Review repository, dto 코틀린 마이그레이션
  backend/src/main/java/com/tripfriend/domain/review/dto/CommentRequestDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/CommentRequestDto.kt
  backend/src/main/java/com/tripfriend/domain/review/dto/CommentResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/CommentResponseDto.kt
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewRequestDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewRequestDto.kt
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewResponseDto.java
  backend/src/main/java/com/tripfriend/domain/review/dto/ReviewResponseDto.kt
  backend/src/main/java/com/tripfriend/domain/review/repository/CommentRepository.java
  backend/src/main/java/com/tripfriend/domain/review/repository/CommentRepository.kt
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewRepository.kt
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewViewCountRepository.java
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewViewCountRepository.kt
Labels: ♻️ refactor

#44 refactor(42): Member 관련 코드 마이그레이션
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.java
  backend/src/main/java/com/tripfriend/domain/member/member/controller/MemberController.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/AuthResponseDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/AuthResponseDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/EmailVerificationRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/EmailVerificationRequestDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/JoinRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/JoinRequestDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/LoginRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/LoginRequestDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberResponseDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberResponseDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberUpdateRequestDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/MemberUpdateRequestDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/dto/TokenInfoDto.java
  backend/src/main/java/com/tripfriend/domain/member/member/dto/TokenInfoDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/entity/EmailAuth.java
  backend/src/main/java/com/tripfriend/domain/member/member/repository/EmailAuthRepository.java
  backend/src/main/java/com/tripfriend/domain/member/member/repository/MemberRepository.java
  backend/src/main/java/com/tripfriend/domain/member/member/repository/MemberRepository.kt
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.kt
  backend/src/main/java/com/tripfriend/domain/member/member/service/MailService.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MailService.kt
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.java
  backend/src/main/java/com/tripfriend/domain/member/member/service/MemberService.kt
  backend/src/test/java/com/tripfriend/domain/member/member/service/AuthServiceTest.kt
  backend/src/test/java/com/tripfriend/domain/member/member/service/MemberServiceTest.kt
  frontend/package-lock.json
  frontend/src/app/member/login/ClientPage.tsx
  frontend/src/app/member/my/ClientPage.tsx
  frontend/src/app/member/signup/ClientPage.tsx
Labels: 🔥backend, ♻️ refactor

#46 refactor(31): notice 마이그레이션
  backend/src/main/java/com/tripfriend/domain/event/controller/EventController.kt
  backend/src/main/java/com/tripfriend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/tripfriend/domain/notice/controller/NoticeController.kt
  backend/src/main/java/com/tripfriend/domain/notice/dto/Dto.java
  backend/src/main/java/com/tripfriend/domain/notice/dto/Dto.kt
  backend/src/main/java/com/tripfriend/domain/notice/entity/Notice.java
  backend/src/main/java/com/tripfriend/domain/notice/entity/Notice.kt
  backend/src/main/java/com/tripfriend/domain/notice/repository/NoticeRepository.java
  backend/src/main/java/com/tripfriend/domain/notice/repository/NoticeRepository.kt
  backend/src/main/java/com/tripfriend/domain/notice/service/NoticeService.java
  backend/src/main/java/com/tripfriend/domain/notice/service/NoticeService.kt
  backend/src/main/java/com/tripfriend/domain/place/place/dto/PlaceResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/controller/TripInformationController.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/controller/TripScheduleController.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleInfoResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleResDto.java
  backend/src/main/java/com/tripfriend/global/init/BaseInitData.java
  backend/src/test/java/com/tripfriend/domain/event/event/service/EventServiceTest.kt
  backend/src/test/java/com/tripfriend/domain/notice/notice/NoticeServiceTest.kt
Labels: ♻️ refactor

#48 refactor(34) : TripSchedule, TripInformation Repository&DTO 마이그레이션
  backend/src/main/java/com/tripfriend/domain/place/place/entity/Place.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationReqDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationResDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/TripInformationUpdateReqDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/VisitedReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/information/dto/VisitedReqDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/entity/TripInformation.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/repository/TripInformationRepository.java
  backend/src/main/java/com/tripfriend/domain/trip/information/repository/TripInformationRepository.kt
  backend/src/main/java/com/tripfriend/domain/trip/information/service/TripInformationService.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleInfoResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleInfoResDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleReqDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripScheduleResDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripUpdateReqDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripUpdateReqDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripUpdateResDto.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/dto/TripUpdateResDto.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/entity/TripSchedule.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/repository/TripScheduleRepository.java
  backend/src/main/java/com/tripfriend/domain/trip/schedule/repository/TripScheduleRepository.kt
  backend/src/main/java/com/tripfriend/domain/trip/schedule/service/TripScheduleService.java
  backend/src/test/java/com/tripfriend/domain/trip/schedule/controller/TripScheduleControllerTest.kt
  backend/src/test/java/com/tripfriend/domain/trip/schedule/service/TripScheduleServiceTest.kt
  frontend/src/app/member/my/schedule/[id]/ClientPage.tsx
  frontend/src/app/member/my/schedule/create/ClientPage.tsx
  frontend/src/app/member/my/schedule/update/[id]/ClientPage.tsx
Labels: 🔥backend, ☀️ frontend, ♻️ refactor

#52 refactor(49): 관리자 로그인 시 관리자 페이지로 이동
  backend/src/main/java/com/tripfriend/domain/member/member/dto/AuthResponseDto.kt
  backend/src/main/java/com/tripfriend/domain/member/member/service/AuthService.kt
  frontend/src/app/member/login/ClientPage.tsx
Labels: 🔥backend, ☀️ frontend, ♻️ refactor

#53 refactor(45): Review service, controller 코틀린 마이그레이션
  backend/src/main/java/com/tripfriend/domain/review/controller/CommentController.java
  backend/src/main/java/com/tripfriend/domain/review/controller/CommentController.kt
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/tripfriend/domain/review/controller/ReviewController.kt
  backend/src/main/java/com/tripfriend/domain/review/service/CommentService.java
  backend/src/main/java/com/tripfriend/domain/review/service/CommentService.kt
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.java
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.kt
  frontend/src/app/community/[id]/page.tsx
Labels: ♻️ refactor

#58 feat(54): recruit controller, apply controller, apply service, apply service test 코틀린 마이그레이션
  backend/src/main/java/com/tripfriend/domain/recruit/apply/controller/ApplyController.java
  backend/src/main/java/com/tripfriend/domain/recruit/apply/controller/ApplyController.kt
  backend/src/main/java/com/tripfriend/domain/recruit/apply/service/ApplyService.java
  backend/src/main/java/com/tripfriend/domain/recruit/apply/service/ApplyService.kt
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/controller/RecruitController.java
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/controller/RecruitController.kt
  backend/src/test/java/com/tripfriend/domain/recruit/apply/service/ApplyServiceTest.kt
Labels: ♻️ refactor

#62 feat(61): query dsl config 코틀린 마이그레이션, optional 제거
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/controller/RecruitController.kt
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/repository/RecruitRepositoryCustom.kt
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/repository/RecruitRepositoryCustomImpl.kt
  backend/src/main/java/com/tripfriend/domain/recruit/recruit/service/RecruitService.kt
  backend/src/main/java/com/tripfriend/global/config/QueryDslConfig.java
  backend/src/main/java/com/tripfriend/global/config/QueryDslConfig.kt
  backend/src/test/java/com/tripfriend/domain/recruit/recruit/service/RecruitServiceTest.kt
Labels: ♻️ refactor

#64 feat(57): 리뷰 정렬 기준 개선 및 수정 시 빈 폼 렌더링 오류 해결
  backend/src/main/java/com/tripfriend/domain/review/repository/ReviewRepository.kt
  backend/src/main/java/com/tripfriend/domain/review/service/ReviewService.kt
  frontend/src/app/community/edit/[id]/page.tsx
  frontend/src/app/community/review-form.tsx
Labels: 🐛 bug, ✨ feat

#67 feat(66): github action을 통한 배포, s3, rds 적용
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/build.gradle.kts
  backend/src/main/java/com/tripfriend/global/util/ImageUtil.kt
  backend/src/main/resources/application.yml
  frontend/Dockerfile
Labels: 🔥backend, ✨ feat, ☀️ frontend
